SECRET_KEY=0xqj4aojsoqf+7el+7%cq4jyi-4dwiie&l6f@@1jh!5mnl95yf
BASE_URL_V1=https://api.b365api.com/v1/
BASE_URL_V2=https://api.b365api.com/v2/
DEBUG=True
REDIS_SERVER=redis://:euW0dIhqITXRkFqqJdzzO5cFqj6Ed4J7@redis-12700.c8.us-east-1-2.ec2.cloud.redislabs.com:12700/0
REDIS_LOCAL=redis://localhost:6380
