[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
pillow = "*"
requestes = "*"
python-decouple = "*"
pytest-django = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
django-s3-folder-storage = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
django-celery-beat = "*"
requests-paginator = "*"
install = "*"
django-rest-auth = "*"
djangorestframework-simplejwt = "*"
drf-yasg2 = "*"

[dev-packages]
ipython = "*"
pytest-cov = "*"
codecov = "*"
django-extensions = "*"

[requires]
python_version = "3.9"
